body {
    display: grid;
    width: 100%;
    height: 100%;
    
    grid-template-areas: 
        "head    head     head"
        "head    head     head"
        "nav     nav      nav"
        "section section aside"
        "section section aside"
        "section section aside"
        "section section aside"
        "section section aside"
        "section section aside"
        "section section aside"
        "section section aside"
        "footer  footer  footer";
}

a {
    margin: 2px;
    text-align: center;
}

body > header{
    background-color: aqua;
    grid-area: head;
    text-align: center;
}

body > nav{
    grid-area: nav;
    padding: 10px;
    border: double black;
    background-color: grey;
    
}

body > section{
    grid-area: section;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    background-color: brown;
}

body > aside{
    grid-area: aside;
    text-align: justify;
    text-justify: inter-word;
    padding: 10%;
    background-color: blue;
}
body > footer{
    grid-area: footer;
    border: dotted gray;
    background-color: aquamarine;

}