form {
    width: 30%;
    border: 3px solid green;
    padding: 2%;
    border-radius: 5%;
}

p {
    padding: 1px;
}

nav {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid gray;
    margin: 20px;
}