section {
    display: grid;
    grid-template-areas: 
    "hueco  dia1    dia1    dia2   dia2   dia3    dia3    dia4    dia4    dia5  dia5"
    "hora1  sis-l   sis-l   llmm-m llmm-m ed-x    ed-x    fol-j   fol-j   fol-v  fol-v"
    "hora2  sis-l   sis-l   llmm-m llmm-m ed-x    ed-x     sis-j   sis-j  fol-v  fol-v"
    "hora3  pro-l1  pro-l1  sis-m1 sis-m1 llmm-x1 llmm-x1   sis-j   sis-j bd-v1  bd-v1"
    "hora7  recreo  recreo  recreo recreo recreo  recreo  recreo  recreo  recreo  recreo"
    "hora4  pro-l2  pro-l2  sis-m2 sis-m2 llmm-x2 llmm-x2   ed-j    ed-j  bd-v2  bd-v2"
    "hora5  bd-l    bd-l    pro-m  pro-m  bd-x    bd-x    pro-j   pro-j   pro-v  pro-v"
    "hora6  bd-l    bd-l    pro-m  pro-m  bd-x    bd-x    pro-j   pro-j   pro-v  pro-v"
    ;
    gap: 2px;
    border:thick double #0a0808 ;
    padding: 2px;
}

body{
    background-color: lightgrey;
    color: darkblue;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#hueco {
    grid-area: hueco;
}

div {
    display: flex;
    border: thick solid #0a0808;
    justify-content: center;
    align-items: center;
}

.bd {
    background-color: lightcoral;
}

.bd-v1 {
    grid-area: bd-v1;
}
.bd-v2 {
    grid-area: bd-v2;
}
.bd-l {
    grid-area: bd-l;
}
.bd-m {
    grid-area: bd-m;
}
.bd-x {
    grid-area: bd-x;
}

.sis {
    background-color: lightgray;
}
.sis-l {
    grid-area: sis-l;
}
.sis-j {
    grid-area: sis-j;
}
.sis-m1 {
    grid-area: sis-m1;
}
.sis-m2 {
    grid-area: sis-m2;
}

.pro {
    background-color: orange;
}
.pro-l1 {
    grid-area: pro-l1;
 }

.pro-l2 {
    grid-area: pro-l2;
}
.pro-m {
    grid-area: pro-m;
}

.pro-l2 {
    grid-area: pro-l2;
}
.pro-j {
    grid-area: pro-j;
}

.pro-v {
    grid-area: pro-v;
}

.llmm {
    background-color: lightpink;
}
.llmm-m {
    grid-area: llmm-m;
}

.llmm-x1 {
    grid-area: llmm-x1;
}

.llmm-x2 {
    grid-area: llmm-x2;
}

.ed {
    background-color: lightgreen;
}
.ed-x {
    grid-area: ed-x;
}

.ed-j {
    grid-area: ed-j;
}

.fol {
    background-color: lightblue;
}
.fol-j {
    grid-area: fol-j;
}
.fol-v {
    grid-area: fol-v;
}

#dia1 {
    grid-area: dia1;
}

#dia2 {
    grid-area: dia2;
}

#dia3 {
    grid-area: dia3;
}

#dia4 {
    grid-area: dia4;
}

#dia5 {
    grid-area: dia5;
}

#hora1 {
    grid-area: hora1;
}

#hora2 {
    grid-area: hora2;
}

#hora3 {
    grid-area: hora3;
}

#hora4 {
    grid-area: hora4;
}

#hora5 {
    grid-area: hora5;
}

#hora6 {
    grid-area: hora6;
}

#hora7 {
    grid-area: hora7;
}

#recreo {
    grid-area: recreo;
    background-color: white;
}

.miscelanea {
    border: thick solid #0a0808;
    text-align: center;
    background-color: beige;
}